<div class="gmm-forge forge--action layout--{{gmm.forge.layout}} color--primary-{{gmm.forge.colors.primary}} color--secondary-{{gmm.forge.colors.secondary}} {{#if gmm.gui._isExpanded}}expanded{{/if}} {{cssClass}}">
	<div class="forge__artifact">
		{{#if gmm.action }}
			{{#> (getTemplate (concat 'action/skins/' gmm.forge.skins.artifact '/artifact.html')) }}
				<div class="gmm-artifact">
					<div class="artifact__error">
						<div class="error__icon"><i class="fas fa-skull-crossbones"></i></div>
						<div class="error__advice">{{localize 'gmm.action.errors.invalid_action'}}</div>
					</div>
				</div>
			{{/undefined}}
		{{else}}
			<div class="gmm-artifact">
				<div class="artifact__error">
					<div class="error__icon"><i class="fas fa-skull-crossbones"></i></div>
					<div class="error__advice">{{localize 'gmm.action.errors.missing_action'}}</div>
				</div>
			</div>
		{{/if}}
	</div>
	<div class="forge__blueprint">
		{{#if gmm.blueprint }}
			{{#> (getTemplate (concat 'action/skins/' gmm.forge.skins.blueprint '/blueprint.html')) }}
				<div class="gmm-blueprint">
					<div class="blueprint__error">
						<div class="error__icon"><i class="fas fa-skull-crossbones"></i></div>
						<div class="error__advice">{{localize 'gmm.action.errors.invalid_blueprint'}}</div>
					</div>
				</div>
			{{/undefined}}
		{{else}}
			<div class="gmm-blueprint">
				<div class="blueprint__error">
					<div class="error__icon"><i class="fas fa-skull-crossbones"></i></div>
					<div class="error__advice">{{localize 'gmm.action.errors.missing_blueprint'}}</div>
				</div>
			</div>
		{{/if}}
	</div>
	<div class="forge__options">
		<div class="forge__id">
			<span class="id">{{item.id}} - {{gmm.version}}</span>
			<span class="name">Giffyglyph's 5e Scaling Action</span>
		</div>
		<nav class="forge__controls" data-group="primary">
			<button type="button" data-action="open-modal" data-modal="modal_bugs"><i class="fas fa-bug"></i></button>
			<button type="button" data-action="open-modal" data-modal="modal_about"><i class="fas fa-question"></i></button>
			<button type="button" data-action="expand-window"><i class="fas fa-cogs"></i></button>
		</nav>
	</div>
	<div class="forge__modals">
		<div class="gmm-modal modal--about" id="modal_about">
			<div class="modal__dialog">
				<div class="modal__icon"><i class="fas fa-question"></i></div>
				<div class="modal__header">
					<div class="modal__title">{{localize 'gmm.modal.info.about.title'}}</div>
					<div class="modal__subtitle">{{localize 'gmm.modal.info.about.subtitle'}}</div>
					<button type="button" class="modal__close" data-action="close-modal"><i class="fas fa-times"></i></button>
				</div>
				<div class="modal__body">
					<p class="intro">{{{localize 'gmm.modal.info.about.p.1' pdf='https://giffyglyph.com/monstermaker'}}}</p>
					<div class="support">
						<p class="support__title">{{localize 'gmm.modal.info.about.support'}}</p>
						<p class="support__title">{{localize 'gmm.modal.info.about.supportsubtitle'}}</p>
						<p>{{{localize 'gmm.modal.info.about.p.2'}}}</p>
						<ul class="support__links">
							<li><a class="patreon" href="https://www.patreon.com/bePatron?u=12684623"><i class="fab fa-fw fa-patreon"></i> {{{localize 'gmm.modal.info.about.patreon'}}}</a></li>
							<li><a class="kofi" href="https://ko-fi.com/giffyglyph#checkoutModal"><i class="fas fa-fw fa-heart"></i> {{{localize 'gmm.modal.info.about.kofi'}}}</a></li>
						</ul>
						<ul class="contact_links">
							<li>
								<a class="reddit" href="https://reddit.com/r/darkerdungeons5e">
									<i class="fab fa-fw fa-reddit-alien"></i>
								</a>
							</li>
							<li>
								<a class="youtube" href="https://youtube.com/giffyglyph">
									<i class="fab fa-fw fa-youtube"></i>
								</a>
							</li>
							<li>
								<a class="twitter" href="https://twitter.com/giffyglyph">
									<i class="fab fa-fw fa-twitter"></i>
								</a>
							</li>
							<li>
								<a class="facebook" href="https://facebook.com/giffyglyph">
									<i class="fab fa-fw fa-facebook"></i>
								</a>
							</li>
							<li>
								<a class="twitch" href="https://twitch.com/giffyglyph">
									<i class="fab fa-fw fa-twitch"></i>
								</a>
							</li>
							<li>
								<a class="website" href="https://www.giffyglyph.com">giffyglyph.com</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="gmm-modal modal--bugs" id="modal_bugs">
			<div class="modal__dialog">
				<div class="modal__icon"><i class="fas fa-bug"></i></div>
				<div class="modal__header">
					<div class="modal__title">{{localize 'gmm.modal.info.bugs.title'}}</div>
					<button type="button" class="modal__close" data-action="close-modal"><i class="fas fa-times"></i></button>
				</div>
				<div class="modal__body">
					<p class="intro">{{{localize 'gmm.modal.info.bugs.intro'}}}</p>
					<a class="github" href="https://github.com/Skyl3lazer/giffyglyph-monster-maker-continued/issues"><i class="fab fa-github fa-fw"></i> github.com/skyl3lazer</a>
				</div>
			</div>
		</div>
		<div class="gmm-modal modal--shortcodes" id="modal_shortcodes">
			<div class="modal__dialog">
				<div class="modal__icon"><i class="fas fa-calculator"></i></div>
				<div class="modal__header">
					<div class="modal__title">{{localize 'gmm.modal.info.shortcodes.title'}}</div>
					<button type="button" class="modal__close" data-action="close-modal"><i class="fas fa-times"></i></button>
				</div>
				<div class="modal__body">
					<p class="intro">{{{localize 'gmm.modal.info.shortcodes.p.1'}}}</p>
					<div class="gmm-accordion">
						<div class="accordion-section">
							<div class="accordion-section__header">{{localize 'gmm.modal.info.shortcodes.random.title'}}</div>
							<div class="accordion-section__body">
								<p>{{localize 'gmm.modal.info.shortcodes.random.p.1'}}</p>
								<blockquote>
									<p>[12, d4] = 4d4 + 2</p>
									<p>[25, d12] = 3d12 + 6</p>
									<p>[66, d30] = 4d30 + 4</p>
								</blockquote>
							</div>
						</div>
						<div class="accordion-section">
							<div class="accordion-section__header">{{localize 'gmm.modal.info.shortcodes.list.title'}}</div>
							<div class="accordion-section__body">
								<p>{{{localize 'gmm.modal.info.shortcodes.list.p.1'}}}</p>
								<blockquote>
									<p>[name] [level] [attackBonus] [damage] [damageDie] [target] [range] [ac] [hpMax] [naturalMax] [saveDc] [featureDc] [durationSaveDc] [dcPrimaryBonus] [maxMod] [strMod] [strSave] [dexMod] [dexSave] [conMod] [conSave] [intMod] [intSave] [wisMod] [wisSave] [chaMod] [chaSave] [xp] [proficiency] [cr]</p>
								</blockquote>
								<p>{{{localize 'gmm.modal.info.shortcodes.list.p.2' saveDc='[saveDc]' featureDc='[featureDc]' durationSaveDc='[durationSaveDc]'}}}</p>
							</div>
						</div>
						<div class="accordion-section">
							<div class="accordion-section__header">{{localize 'gmm.modal.info.shortcodes.modifiers.title'}}</div>
							<div class="accordion-section__body">
								<p>{{localize 'gmm.modal.info.shortcodes.modifiers.p.1'}}</p>
								<blockquote>
									<p>[level * 2] = {{localize 'gmm.modal.info.shortcodes.modifiers.example.1'}}</p>
									<p>[damage + 4] = {{localize 'gmm.modal.info.shortcodes.modifiers.example.2'}}</p>
									<p>[(hpMax / 3) + 10] = {{localize 'gmm.modal.info.shortcodes.modifiers.example.3'}}</p>
									<p>[round(damage / 4)] = {{localize 'gmm.modal.info.shortcodes.modifiers.example.4'}}</p>
									<p>[ceil(damage / 4)] = {{localize 'gmm.modal.info.shortcodes.modifiers.example.5'}}</p>
									<p>[floor(damage / 4)] = {{localize 'gmm.modal.info.shortcodes.modifiers.example.6'}}</p>
									<p>[dcPrimaryBonus + maxMod] = {{localize 'gmm.modal.info.shortcodes.modifiers.example.7'}}</p>
								</blockquote>
							</div>
						</div>
						<div class="accordion-section">
							<div class="accordion-section__header">{{localize 'gmm.modal.info.shortcodes.dice.title'}}</div>
							<div class="accordion-section__body">
								<p>{{localize 'gmm.modal.info.shortcodes.dice.p.1'}}</p>
								<blockquote>
									<p>[damage, d8] = {{localize 'gmm.modal.info.shortcodes.dice.example.1'}}</p>
									<p>[12 + strMod, d20] = {{localize 'gmm.modal.info.shortcodes.dice.example.2'}}</p>
									<p>[10 * level, d6] = {{localize 'gmm.modal.info.shortcodes.dice.example.3'}}</p>
									<p>[damage, damageDie] = {{localize 'gmm.modal.info.shortcodes.dice.example.4'}}</p>
								</blockquote>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="gmm-modal modal--scaling" id="modal_scaling">
			<div class="modal__dialog">
				<div class="modal__icon"><i class="fas fa-chart-line"></i></div>
				<div class="modal__header">
					<div class="modal__title">{{localize 'gmm.modal.info.scaling.title'}}</div>
					<button type="button" class="modal__close" data-action="close-modal"><i class="fas fa-times"></i></button>
				</div>
				<div class="modal__body">
					<p class="intro">{{{localize 'gmm.modal.info.scaling.p.1'}}}</p>
					<p>{{localize 'gmm.modal.info.scaling.p.2'}}</p>
				</div>
			</div>
		</div>
		<div class="gmm-modal modal--scaling" id="modal_deferral">
			<div class="modal__dialog">
				<div class="modal__icon"><i class="fas fa-timer"></i></div>
				<div class="modal__header">
					<div class="modal__title">{{localize 'gmm.modal.info.deferral.title'}}</div>
					<button type="button" class="modal__close" data-action="close-modal"><i class="fas fa-times"></i></button>
				</div>
				<div class="modal__body">
					<p class="intro">{{{localize 'gmm.modal.info.deferral.p.1'}}}</p>
					<p>{{{localize 'gmm.modal.info.deferral.p.2'}}}</p>
					<p>{{{localize 'gmm.modal.info.deferral.p.3' cancel=(localize 'gmm.action.blueprint.deferral.cancel')}}}</p>
				</div>
			</div>
		</div>
		<div class="gmm-modal modal--scaling" id="modal_zone">
			<div class="modal__dialog">
				<div class="modal__icon"><i class="fas fa-draw-polygon"></i></div>
				<div class="modal__header">
					<div class="modal__title">{{localize 'gmm.modal.info.zone.title'}}</div>
					<button type="button" class="modal__close" data-action="close-modal"><i class="fas fa-times"></i></button>
				</div>
				<div class="modal__body">
					<p class="intro">{{{localize 'gmm.modal.info.zone.p.1'}}}</p>
					<p>{{{localize 'gmm.modal.info.zone.p.2'}}}</p>
					<p>{{{localize 'gmm.modal.info.zone.p.3'}}}</p>
					<p>{{{localize 'gmm.modal.info.zone.p.4'}}}</p>
					<p>{{{localize 'gmm.modal.info.zone.p.5'}}}</p>
				</div>
			</div>
		</div>
	</div>
</div>
