<div class="gmm-deferral chat-card">
	<p>{{localize 'gmm.deferral.resolution.intro' name=name}}</p>
	{{#if hasTargets}}
	<p class="supplement"><strong>{{localize 'gmm.deferral.resolution.targets'}}:</strong> {{#each targets}}{{this}}{{#unless @last}}, {{/unless}}{{/each}}</p>
	{{else}}
	<p class="supplement"><em>{{localize 'gmm.deferral.resolution.no_targets'}}</em></p>
	{{/if}}
	{{#if cancel}}
	<p class="supplement"><em>{{localize 'gmm.common.deferral.cancel'}}: {{cancel}}</em></p>
	{{/if}}
	<div class="card-buttons">
		<button type="button" data-gmm-deferral="resolve">
			<i class="fa-solid fa-burst" inert></i>
			{{localize 'gmm.deferral.resolution.resolve'}}
		</button>
		<button type="button" data-gmm-deferral="cancel">
			<i class="fa-solid fa-ban" inert></i>
			{{localize 'gmm.deferral.resolution.cancel'}}
		</button>
	</div>
</div>
